{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Article Details{% endblock title %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
        <p class="card-title"><a href="#">{{ article.title }} | {{ article.date }}</a></p>
    </div>
    <div class="card-body">
        <p class="card-text">{{ article.body }}</p>
        <div>
            <h4>Comments</h4>
            {% for comment in article.comment_set.all %}
            <p>
                <span class="font-weigt-bold">
                  {{ comment.author }} &middot;
                </span>
                {{ comment }}
              </p>
            {% endfor %}
            <hr>
            <h4>Add a comment</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success ml-2" type="submit">Post Comment</button>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <a class="card-link" href="{% url 'article_edit' article.pk %}">Edit</a> | <a class="card-link" href="{% url 'article_delete' article.pk %}">Delete</a>
    </div>
</div>
{% endblock content %}